@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}

.baloo {
  font-family: "Baloo 2", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.navbar {
  z-index: 100;
  background: #ffffffa0;
}

.btn {
  background: #0069ffe0;
}

.wsb {
  background: url("../img/wsb.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.navimg {
  top: 70px;
  background: url("../img/hero.png");
  width: 100dvw;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.fend {
  background: url("../img/frontend.jpg");
  background-size: cover;
  background-position: center;
  width: 100dvw;
  height: 700px;
}